<!DOCTYPE html>
<html lang="en">
<head>
    {% block pagehead %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %} {% endblock %}</title>
        <!-- STYLE -->
        <link rel="stylesheet" href="/static/bulma/bulma.min.css"> <link rel="stylesheet" href="/static/font.css"> <link rel="stylesheet" href="/static/global.css">
        <!-- END STYLE -->
        <script src="/static/global.js"></script>
    {% endblock %}
</head>
<body>
    <section id="main">
        {% block pagebody %}
        <div id="main-navigation">
            {% block pagenavigation %} {% endblock %}
        </div>
        <div id="main-content">
            {% block pagecontent %} {% endblock %}  
        </div>
        <div id="main-footer">
            {% block pagefooter %} {% endblock %}
        </div>
    {% endblock %}
    </section>
    
</body>
</html>