{% extends "base.html" %}

{% block title %}Hasty | Create, Host and Share Professional Resume{% endblock %}
{% block compstyle %}<link rel="stylesheet" href="/static/components/home_page.css">{% endblock %}
{% block pagebody %}
    {% block pagenavigation %}
        {% include '/page_navigation.html' ignore missing %}
    {% endblock %}
    {% block pagecontent %}
        <div class="home-banner columns">
            <div class="column is-7">
                <div class="banner-left">
                    <h1>Create, Host and Share <br><span class="em-begin">Your <span></span class="h-blued">Professional Resume</span></h1>
                    <p>Morbi pulvinar nisi vitae mauris rhoncus</p>
                    <ul>
                        <li><a href="" class="button-primary">create resume</a></li>
                        <li><a href="" class="button-secondary">login hasty</a></li>
                    </ul>
                </div>
            </div>
            <div class="column is-5">
                <!-- IMAGE -->
            </div>
        </div>
        <!--  -->
        <div class="home-stripe-one columns">
            <div class="column is-6">
                <h3>Already have a Hasty Id?</h3>
            </div>
            <div class="column is-6">
                <a href="" class="button-primary">check hasty profile</a>            
            </div>
        </div>
        <!--  -->
        <div class="home-about columns">
            <div class="column is-6">
                <h3>What is Hasty?</h3>
                <p>
                    Suspendisse malesuada, enim eget sagittis ultrices, felis nibh semper mi, ac condimentum leo nibh in enim. Nulla nec aliquet nibh. Vivamus venenatis eros ut dui eleifend, in eleifend tellus luctus. Sed porttitor, sem at rutrum pretium, nisl nisi vehicula massa, non euismod tortor metus ut ex. Sed posuere mattis tortor, sed dapibus ex tempus et.
                    <br /><br /><br />
                    Donec non tellus bibendum, vulputate mauris non, tincidunt nisi. In ullamcorper purus in diam porttitor, suscipit pellentesque lorem mollis. Suspendisse potenti. Duis vestibulum finibus nisl. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum euismod est neque, quis placerat arcu sodales id. Aliquam efficitur placerat orci at commodo. Ut sagittis sollicitudin vestibulum. 
                    <a href="" class="button-primary">about hasty</a>            
                </p>
            </div>
            <div class="column is-6">
                <!-- IMAGE -->
            </div>
        </div>
        <!--  -->
        <div class="home-stripe-two columns">
            <div class="column is-6">
                <h3><img src="" alt="Donate Hasty" /> Support Hasty</h3>
            </div>
            <div class="column is-6">
                <ul>
                    <li><a href="" class="button-primary-invert">one-time donation</a></li>
                    <li><a href="" class="button-secondary-invert">become a sponsor</a></li>
                </ul>
            </div>
        </div>
        
    {% endblock %}
    {% block pagefooter %}
        {% include '/page_footer.html' ignore missing %}
    {% endblock %}
   
{% endblock %}

