<section id="footer">
    <div class="footer-top columns">
        <div class="column is-6">
            <img src="" alt="Hasty">
        </div>
        <div class="column">
            <ul>
                <li><a href="">About Hasty</a></li>
                <li><a href="">Create a Resume</a></li>
                <li><a href="">Get Hasty Id</a></li>
                <li><a href="">Edit Profile</a></li>
                <li><a href="">Check Hasty Profile</a></li>
            </ul>
        </div>
        <div class="column">
            <ul>
                <li><a href="">Resume Tips</a></li>
                <li><a href="">Blogs (External Contents)</a></li>
                <li><a href="">Our Sponsors</a></li>
                <li><a href=""><em>Sitemap</em></a></li>
                <li><a href="">Our Team</a></li>
            </ul>
        </div>
    </div>
    <hr>
    <div class="footer-middle columns">
        <div class="column">
            <ul>
                <li><a href="">Account Handling</a></li>
                <li><a href="">Privacy</a></li>
                <li><a href="">Security Compliance</a></li>
                <li><a href="">Cookies</a></li>
                <li><a href="">Terms of Service</a></li>
            </ul>
        </div>
        <div class="column">
            <ul>
                <li><a href="">Support</a></li>
                <li><a href="">Feedback</a></li>
                <li><a href="">Contact Us</a></li>
                <li><a href="">Disclaimer</a></li>
            </ul>
        </div>
        <div class="column">
            <ul>
                <li><a href="">Facebook</a></li>
                <li><a href="">Twitter</a></li>
                <li><a href="">Reddit</a></li>
                <li><a href="">Communities</a></li>
            </ul>
        </div>
        <div class="column">
            <ul>
                <li><a href="">Secure 256 bit SSL encryption</a></li>
                <li><a href="">Contribute on GitHub </a></li>
                <li><a href="">Source Code, License</a></li>
                <li><a href="">Website content licensed CC BY-NC-SA 4.0 </a></li>
                <li><a href="">Helpers</a></li>
            </ul>
        </div>
    </div>
    <hr>
    <div class="footer-bottom columns">
        <div class="column to-left">
            <p>Namaste from India</p>
        </div>
        <div class="column to-right">
            <p><span class="hasty-blue">Hasty</span> 2020 | A <span class="caracal-red"><a href="">Caracal</a></span> Project</p>
        </div>
    </div>
</section>