<nav class="navbar" role="navigation" aria-label="main navigation">
    <div id="navbarIdFetch" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item">Home</a>
        <a class="navbar-item">Create Resume</a>
        <a class="navbar-item">Login</a>
        <a class="navbar-item">Hasty Directory</a>
        <a class="navbar-item">Resume Tips</a>
      </div>
    </div>
    <div class="navbar-brand">
      <a class="navbar-item" href="#"> Logo </a>
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarIdFetch">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  </nav>