{% extends "base.html" %}

{% block title %}Hasty | Create, Host and Share Professional Resume{% endblock %}
{% block compstyle %}<link rel="stylesheet" href="/static/components/home_page.css">{% endblock %}
{% block pagebody %}
    {% block pagenavigation %}
        {% include '/page_navigation.html' ignore missing %}
    {% endblock %}
    {% block pagecontent %}
        <div class="home-banner columns">
            <div class="column is-12">
                <h2>success!</h2>
            </div>
        </div>
    {% endblock %}
    {% block pagefooter %}
        {% include '/page_footer.html' ignore missing %}
    {% endblock %}
   
{% endblock %}

