/* WORK SANS */
@font-face { font-family: WorkSans-Black; src: url(/static/font/WorkSans-Black.ttf); }
@font-face { font-family: WorkSans-Bold; src: url(/static/font/WorkSans-Bold.ttf); }
@font-face { font-family: WorkSans-ExtraBold; src: url(/static/font/WorkSans-ExtraBold); }
@font-face { font-family: WorkSans-ExtraLight; src: url(/static/font/WorkSans-ExtraLight.ttf); }
@font-face { font-family: WorkSans-Italic; src: url(/static/font/WorkSans-Italic.ttf); }
@font-face { font-family: WorkSans-Light; src: url(/static/font/WorkSans-Light.ttf); }
@font-face { font-family: WorkSans-Medium; src: url(/static/font/WorkSans-Medium.ttf); }
@font-face { font-family: WorkSans-Regular; src: url(/static/font/WorkSans-Regular.ttf); }
@font-face { font-family: WorkSans-SemiBold; src: url(/static/font/WorkSans-SemiBold.ttf); }
@font-face { font-family: WorkSans-Thin; src: url(/static/font/WorkSans-Thin.ttf); }

