{% extends 'base.html' %}

{% block head %} 
    <title>Home</title>
{% endblock %}

{% block body %} 
<br /><br />
<main role="main" class="container">
    <div class="jumbotron">
      <h1>Hey, there!</h1>
      <p class="lead">Welcome to BlogCRUD, this is a complete CRUD application build with Python's Flask framework. Here you can read as well as create new blogs, update them and delete them.</p>
      <a class="btn btn-lg btn-primary" href="/posts" role="button">All Posts &raquo;</a>
    </div>
</main>
{% endblock %}